@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* css reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    padding-top: .1px;
    font-family: ubuntu;
}
li{
    list-style-type: square;
    margin-left: 30px;
    margin-block: 15px;
}
section.time-line section{
    margin-block: 30px;
}
.bolder{
    font-weight: bolder;
}
.bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
/* css reset ends */

main{
    background-color: #ededed;
    width: 95%;
    margin: 20px auto;
    padding: 20px 10px;
    border: 2px solid black;
}
.iskcon-desc-and-image-container img{
    width: 70px;
}
.iskcon-desc-and-image-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    padding-block: 5px;
    margin-top: 10px;
}
.founder-description{
    margin-block: 10px;
    color: white;
}
.iskcon-logo{
    font-size: 21px;
    color: #dbb45e;
    /* text-shadow: 0 0 19px #dbff00; */
}
.prabhupada-image-container{
    background-color: white;
    padding-block: 15px;
    margin:10px 20px 50px 20px;
}
.prabhupada-image{
    display: block;
    width:70%;
    margin:10px auto;
}
.time-line{
    width: 70%;
    margin: auto;
}

@media(width<500px){
    main{
        width: 98%;
    }
    h1{
        font-size: 2rem;
    }
    .prabhupada-image{
        width: 100%;
    }
    .prabhupada-image-container{
        margin-inline:0 ;
    }
    .iskcon-desc-and-image-container{
        align-items: center;
    }
    .time-line{
        margin-inline: 3px;
        width: 100%;
    }
}